@page
@model Foodies.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<header>
    <div class="jumbotron jumbotron-fluid about-us">
        <div class="container">
            <h1>About Us</h1>
        </div>
    </div>
</header>

<div class="container">
    <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <img src="~/images/romil.jpg" class="img-fluid img-thumbnail rounded-circle" />
                </div>
                <div class="col-9 text-justify">
                    <h6 class="text-muted">Romil Samir Shah</h6>
                    <p class="text-info">Founder and Chairman and CEO</p>
                    <p class="text-primary">(513) 410-7877</p>
                    Romil Shah is the founder and Chairman and CEO of the <strong>FOODIES</strong>.
                    He has got an entrepreneurial mindset and love for the food.
                    He converted his passion of trying new food options into a company that helps do that.
                    He's got expertise into product development using various technologies and a perfect guy in managing the company.
                    He's also got a brilliant educational background with latest degree being in Masters in Information Systems from University of Cincinnati.
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-3">
                    <img src="~/images/hardik.png" class="img-fluid img-thumbnail rounded-circle" />
                </div>
                <div class="col-9 text-justify">
                    <h6 class="text-muted">Hardik Bhagwanbhai Patel</h6>
                    <p class="text-info">Co-founder and COO</p>
                    <p class="text-primary">(513) 432-8254</p>
                    Hardik Patel is co-founder and COO of the <strong>FOODIES</strong>.
                    He's known to be <em>"Hand of the Romil"</em>
                    He has got brilliant expertise in managing the operational activities of the company.
                    Before being the COO, he was the <em>"Master of the Coin"</em> i.e Chief Financial Officer.
                    He is brilliant at what he does!!!
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-3">
                    <img src="~/images/nikit.jpg" class="img-fluid img-thumbnail rounded-circle" />
                </div>
                <div class="col-9 text-justify">
                    <h6 class="text-muted">Nikit Brijeshkumar Choksi</h6>
                    <p class="text-info">Co-founder and CAO</p>
                    <p class="text-primary">(513) 850-7325</p>
                    Nikit Choksi is the co-founder and CAO of the <strong>FOODIES</strong>.
                    He's very learned man and likes to read and analyze about the things.
                    His analysis is very useful to the company. We use his analysis to recommend restaurants, food.
                    His work is fairly appreciated and one of the best employee of the company.
                </div>
            </div>
        </div>
    </section>
</div>