@page
@model Foodies.Pages.HelpModel
@{
    ViewData["Title"] = "Help";
}

<header>
    <div class="jumbotron jumbotron-fluid about-us">
        <div class="container">
            <h1>Help</h1>
        </div>
    </div>
</header>

<div class="container">
    <section id="help">
        <div class="section-title text-center text-muted">
            <div class="d-inline-block margin-10">
                <h2>Home Page related stuff</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex align-items-stretch">
                <div class="card">
                    <img src="~/images/search.jpg" class="card-img-top" alt="Search">
                    <div class="card-body">
                        <p class="card-text">If you are hungry and want some good food from your favourite restaurant, use our search feature available on our home page to help you filter the results as per your needs.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex align-items-stretch">
                <div class="card">
                    <img src="~/images/top-rated.jpg" class="card-img-top" alt="Top rated">
                    <div class="card-body">
                        <p class="card-text">Want to have food from a restaurant which is rated on top as per past customer experiences. You can find it on the home page.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex align-items-stretch">
                <div class="card">
                    <img src="~/images/serving-now.jpg" class="card-img-top" alt="Serving Now">
                    <div class="card-body">
                        <p class="card-text">Do you want to see restaurants open to serve? You can find it at the bottom of our Home Page</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container">
    <section id="help">
        <div class="section-title text-center text-muted">
            <div class="d-inline-block margin-10">
                <h2>Admin related stuff</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-3 d-flex align-items-stretch">
                <div class="card">
                    <img src="~/images/Restaurant.jpg" class="card-img-top" alt="Restaurant">
                    <div class="card-body">
                        <p class="card-text">Are you willing to view, edit or enter details concerning to Restaurants. You can find a link to Restaurants under the Administration Tab in the Navigation Menu. </p>
                    </div>
                </div>
            </div>
            <div class="col-3 d-flex align-items-stretch">
                <div class="card">
                    <img src="~/images/Customer.jpg" class="card-img-top" alt="Customer">
                    <div class="card-body">
                        <p class="card-text">If a customer wants to modify/add his details, he can find a link to Customers under the Administration Tab in the Navigation Menu.</p>
                    </div>
                </div>
            </div>
            <div class="col-3 d-flex align-items-stretch">
                <div class="card">
                    <img src="~/images/Delivery-Partner.jpg" class="card-img-top" alt="Delivery Partners">
                    <div class="card-body">
                        <p class="card-text">Is any individual wants to deliver the order, you can get added to our network by clicking a Delivery Partners link under the Administration Tab in the Navigation Menu.</p>
                    </div>
                </div>
            </div>
            <div class="col-3 d-flex align-items-stretch">
                <div class="card">
                    <img src="~/images/Order.jpg" class="card-img-top" alt="Orders">
                    <div class="card-body">
                        <p class="card-text">Want to create/view/modify the order details, you can get do do it by clicking on Orders link under the Administration Tab in the navigation menu.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>